flows/Schedule_Payment_Adjust_Reallocate_Payments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddSchPayLineToColl</name>
        <label>AddSchPayLineToColl</label>
        <locationX>1529</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>SchPayLineColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSchPayLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetLoopVars</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSchPayToAllocateColl</name>
        <label>AddSchPayToAllocateColl</label>
        <locationX>1390</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>SchPayToAllocate2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllSchPay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetLoopVars2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddSchPayToReAllocateColl</name>
        <label>AddSchPayToReAllocateColl</label>
        <locationX>1182</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>SchPayReAllocate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAllSchPay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetLoopVars2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToDeleteColl</name>
        <label>AddToDeleteColl</label>
        <locationX>1464</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>SchPayLineToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSchPayLines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSchPayLines.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSchPayLineCol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToSchPayCollToCreate</name>
        <label>AddToSchPayCollToCreate</label>
        <locationX>1863</locationX>
        <locationY>1757</locationY>
        <assignmentItems>
            <assignToReference>SchPayLineToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSchPayLineColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecRoundingCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToZeroSchPayColl</name>
        <label>AddToZeroSchPayColl</label>
        <locationX>907</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>SchPayToUpdateZero</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Provide a count of the all Scheduled Payments</description>
        <name>CountAllSchPays</name>
        <label>CountAllSchPays</label>
        <locationX>287</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>TotalInstalmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SchPayInputColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchPaySelectIdInputScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountSchPayLinesToCreateAndDelete</name>
        <label>CountSchPayLinesToCreateAndDelete</label>
        <locationX>748</locationX>
        <locationY>1384</locationY>
        <assignmentItems>
            <assignToReference>NumSchPayLinesToCreateVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SchPayLineToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumSPLToDelete</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SchPayLineToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSPLDelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Provide a count of the selected Scheduled Payments</description>
        <name>CountSelectedSchPays</name>
        <label>CountSelectedSchPays</label>
        <locationX>621</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>SelectedSchPays</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SchPaySelectIdInputTable.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectionRestriction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Accumulate the value of all SPLs to be created</description>
        <name>CreateTotalAccumulator</name>
        <label>CreateTotalAccumulator</label>
        <locationX>70</locationX>
        <locationY>1680</locationY>
        <assignmentItems>
            <assignToReference>SPLCreateTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSPLCreate.OrderApi__Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSPLCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DecRoundingCounter</name>
        <label>DecRoundingCounter</label>
        <locationX>1310</locationX>
        <locationY>1707</locationY>
        <assignmentItems>
            <assignToReference>RoundingCounter</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSchPay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeDupeTest</name>
        <label>DeDupeTest</label>
        <locationX>1843</locationX>
        <locationY>805</locationY>
        <assignmentItems>
            <assignToReference>SchPayLineColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>LoopSchPayLineCol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateExisting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Accumulate the value of all SPLs to be deleted</description>
        <name>DeleteTotalAccumulator</name>
        <label>DeleteTotalAccumulator</label>
        <locationX>63</locationX>
        <locationY>1447</locationY>
        <assignmentItems>
            <assignToReference>SPLDeleteTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSPLDelete.OrderApi__Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSPLDelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DoNotUpdateThisSchPay</name>
        <label>DoNotUpdateThisSchPay</label>
        <locationX>2099</locationX>
        <locationY>1276</locationY>
        <assignmentItems>
            <assignToReference>SchPayLeave</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelected2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopVarsInit</name>
        <label>LoopVarsInit</label>
        <locationX>1121</locationX>
        <locationY>1144</locationY>
        <assignmentItems>
            <assignToReference>RoundingCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoundingCounterInit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SchPayLineRemainder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSchPayLineColl.OrderApi__Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisLoopSplitCalcDiff</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SplitCalcDiff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSchPay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotToAllocate</name>
        <label>NotToAllocate</label>
        <locationX>1522</locationX>
        <locationY>39</locationY>
        <assignmentItems>
            <assignToReference>SchPayAllocate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelectedSchPay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReduceSchPayLineRemainder</name>
        <label>ReduceSchPayLineRemainder</label>
        <locationX>2273</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>SchPayLineRemainder</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>LoopSchPayLineColl.OrderApi__Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TrackSchPayLineTotal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetLoopVars</name>
        <label>ResetLoopVars</label>
        <locationX>1395</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>CreateNewCollectionSchPayLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSchPayLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetLoopVars2</name>
        <label>ResetLoopVars2</label>
        <locationX>1072</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SchPayAllocate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllSchPay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetSchPayLeave</name>
        <label>ResetSchPayLeave</label>
        <locationX>1544</locationX>
        <locationY>1275</locationY>
        <assignmentItems>
            <assignToReference>SchPayLeave</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelected2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SchPayIdAndPriceUpdate</name>
        <label>SchPayIdAndPriceUpdate</label>
        <locationX>2119</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>LoopSchPayLineColl.OrderApi__Scheduled_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSchPay.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSchPayLineColl.OrderApi__Sale_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisLoopSplitCalcDiff</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSchPayLineColl.OrderApi__Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisLoopSplitCalcDiff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReduceSchPayLineRemainder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SchPayIdAndPriceUpdate_0</name>
        <label>SchPayIdAndPriceUpdate</label>
        <locationX>1863</locationX>
        <locationY>1610</locationY>
        <assignmentItems>
            <assignToReference>LoopSchPayLineColl.OrderApi__Scheduled_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSchPay.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSchPayLineColl.OrderApi__Sale_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchPayLineRemainder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSchPayLineColl.OrderApi__Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchPayLineRemainder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TrackSchPayLineTotal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TrackSchPayDelete</name>
        <label>TrackSchPayDelete</label>
        <locationX>898</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>SchPayDeleteTracking</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopSelected.Id},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSchPayLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TrackSchPayLineTotal</name>
        <label>TrackSchPayLineTotal</label>
        <locationX>2083</locationX>
        <locationY>1697</locationY>
        <assignmentItems>
            <assignToReference>SchPayLineTracking</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!LoopSchPayLineColl.OrderApi__Total__c} (re-allocated to {!LoopSchPay.Id}),</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToSchPayCollToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateAllocateCount</name>
        <label>UpdateAllocateCount</label>
        <locationX>602</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference>TotalAllocateCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllocateSelect.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateExisting</name>
        <label>UpdateExisting</label>
        <locationX>1720</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>LoopSchPayLines.OrderApi__Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSchPayLineCol.OrderApi__Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSchPayLines.OrderApi__Sale_Price__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSchPayLineCol.OrderApi__Sale_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSchPayLineCol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZeroSelectedSchPay</name>
        <label>ZeroSelectedSchPay</label>
        <locationX>1027</locationX>
        <locationY>865</locationY>
        <assignmentItems>
            <assignToReference>LoopSelected.OrderApi__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopSelected.OrderApi__Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToZeroSchPayColl</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DateChoice</name>
        <choiceText>Adjust Dates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adjust Dates</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayMethodChoice</name>
        <choiceText>Adjust Payment Methods</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay Method</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReallocateChoice</name>
        <choiceText>Re-allocate Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-allocate Payments</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AddNewToCollection</name>
        <label>AddNewToCollection</label>
        <locationX>1664</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>ResetLoopVars</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Add_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewCollectionSchPayLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSchPayLineToColl</targetReference>
            </connector>
            <label>Add New</label>
        </rules>
    </decisions>
    <decisions>
        <name>AllocateSchPay</name>
        <label>AllocateSchPay</label>
        <locationX>1377</locationX>
        <locationY>309</locationY>
        <defaultConnector>
            <targetReference>AddSchPayToReAllocateColl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Allocate_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchPayAllocate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSchPayToAllocateColl</targetReference>
            </connector>
            <label>Yes Allocate Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>AssocWithSchPay</name>
        <label>AssocWithSchPay</label>
        <locationX>1533</locationX>
        <locationY>1458</locationY>
        <defaultConnector>
            <targetReference>LoopSchPay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SchPayLeave</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsRoundingCounter1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIsSelectedSchPay</name>
        <label>CheckIsSelectedSchPay</label>
        <locationX>1949</locationX>
        <locationY>1356</locationY>
        <defaultConnector>
            <targetReference>LoopSelected2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Selected_SchPay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSchPay.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopSelected2.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoNotUpdateThisSchPay</targetReference>
            </connector>
            <label>Is Selected SchPay</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRoundingCounter1</name>
        <label>IsRoundingCounter1</label>
        <locationX>1774</locationX>
        <locationY>1474</locationY>
        <defaultConnector>
            <targetReference>SchPayIdAndPriceUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesLastLoop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoundingCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SchPayIdAndPriceUpdate_0</targetReference>
            </connector>
            <label>YesLastLoop</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSelectedSchPay</name>
        <label>IsSelectedSchPay</label>
        <locationX>1520</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>LoopSelectedSchPay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSelectedSchPay.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopAllSchPay.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotToAllocate</targetReference>
            </connector>
            <label>Yes Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>A balance check is performed to stop this process from resulting in overall revenue being created or destroyed.</description>
        <name>PerformBalanceCheck</name>
        <label>PerformBalanceCheck</label>
        <locationX>517</locationX>
        <locationY>1659</locationY>
        <defaultConnector>
            <targetReference>BalanceCheckFailScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Balance - Abort</defaultConnectorLabel>
        <rules>
            <name>Balances_to_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BalanceCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReallocateConfirmationScreen</targetReference>
            </connector>
            <label>Balances to Zero</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the user selected all Scheduled Payments to be reallocated (this must be restricted)</description>
        <name>SelectionRestriction</name>
        <label>SelectionRestriction</label>
        <locationX>770</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>LoopAllSchPay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SelectedAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalInstalmentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SelectedSchPays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectedAllErrorScreen</targetReference>
            </connector>
            <label>SelectedAll</label>
        </rules>
    </decisions>
    <decisions>
        <name>SOLCheck</name>
        <label>SOLCheck</label>
        <locationX>1831</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>LoopSchPayLineCol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>InCollection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSchPayLineCol.OrderApi__Sales_Order_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopSchPayLines.OrderApi__Sales_Order_Line__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeDupeTest</targetReference>
            </connector>
            <label>InCollection</label>
        </rules>
    </decisions>
    <decisions>
        <name>ZeroValueSchPayLineCheck</name>
        <label>ZeroValueSchPayLineCheck</label>
        <locationX>959</locationX>
        <locationY>1144</locationY>
        <defaultConnector>
            <targetReference>LoopVarsInit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Zero_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSchPayLineColl.OrderApi__Total__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSchPayLineColl</targetReference>
            </connector>
            <label>Is Zero Value</label>
        </rules>
    </decisions>
    <description>Subflow to provide interface to reallocate revenue from future or missed Schedule Payments to other Scheduled Payments. 
INPUTS: Requires a single Sales Order Id + collection of Scheduled Payments (from Master)
OUTPUTS:</description>
    <formulas>
        <name>BalanceCheck</name>
        <dataType>Currency</dataType>
        <expression>{!SPLCreateTotal} - {!SPLDeleteTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FiveDayBuffer</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+5</expression>
    </formulas>
    <formulas>
        <name>RoundingCounterInit</name>
        <dataType>Number</dataType>
        <expression>{!TotalAllocateCount}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SplitCalcDiff</name>
        <dataType>Currency</dataType>
        <expression>{!LoopSchPayLineColl.OrderApi__Total__c}/({!TotalAllocateCount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TenDayBuffer</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+10</expression>
    </formulas>
    <interviewLabel>Schedule Payment Adjust - Reallocate Payments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Payment Adjust - Reallocate Payments</label>
    <loops>
        <name>LoopAllSchPay</name>
        <label>LoopAllSchPay</label>
        <locationX>923</locationX>
        <locationY>210</locationY>
        <collectionReference>SchPayInputColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopSelectedSchPay</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AllocateDestinationScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSchPay</name>
        <label>LoopSchPay</label>
        <locationX>1279</locationX>
        <locationY>1323</locationY>
        <collectionReference>AllocateSelect.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ResetSchPayLeave</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopSchPayLineColl</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSchPayLineCol</name>
        <label>LoopSchPayLineCol</label>
        <locationX>1410</locationX>
        <locationY>741</locationY>
        <collectionReference>SchPayLineColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SOLCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddNewToCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSchPayLineColl</name>
        <label>LoopSchPayLineColl</label>
        <locationX>748</locationX>
        <locationY>1215</locationY>
        <collectionReference>SchPayLineColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ZeroValueSchPayLineCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountSchPayLinesToCreateAndDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSchPayLines</name>
        <label>LoopSchPayLines</label>
        <locationX>1220</locationX>
        <locationY>753</locationY>
        <collectionReference>GetSchPayLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddToDeleteColl</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ZeroSelectedSchPay</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSelected</name>
        <label>LoopSelected</label>
        <locationX>745</locationX>
        <locationY>749</locationY>
        <collectionReference>SchPaySelectIdInputTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TrackSchPayDelete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopSchPayLineColl</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSelected2</name>
        <label>LoopSelected2</label>
        <locationX>1779</locationX>
        <locationY>1283</locationY>
        <collectionReference>SchPaySelectIdInputTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckIsSelectedSchPay</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssocWithSchPay</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSelectedSchPay</name>
        <label>LoopSelectedSchPay</label>
        <locationX>1130</locationX>
        <locationY>110</locationY>
        <collectionReference>SchPaySelectIdInputTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsSelectedSchPay</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AllocateSchPay</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Use a loop to total the value of created SPLs</description>
        <name>LoopSPLCreate</name>
        <label>LoopSPLCreate</label>
        <locationX>303</locationX>
        <locationY>1676</locationY>
        <collectionReference>SchPayLineToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateTotalAccumulator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PerformBalanceCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Use a loop to total the value of deleted SPLs</description>
        <name>LoopSPLDelete</name>
        <label>LoopSPLDelete</label>
        <locationX>312</locationX>
        <locationY>1484</locationY>
        <collectionReference>SchPayLineToDelete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DeleteTotalAccumulator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopSPLCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateSchPayLines</name>
        <label>CreateSchPayLines</label>
        <locationX>747</locationX>
        <locationY>1761</locationY>
        <connector>
            <targetReference>DeleteSchPayLines</targetReference>
        </connector>
        <inputReference>SchPayLineToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteSchPayLines</name>
        <label>DeleteSchPayLines</label>
        <locationX>749</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>UpdateSelectedSchPay</targetReference>
        </connector>
        <inputReference>SchPayLineToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetSchPayLines</name>
        <label>GetSchPayLines</label>
        <locationX>1008</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopSchPayLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Scheduled_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopSelected.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Scheduled_Payment_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSelectedSchPay</name>
        <label>UpdateSelectedSchPay</label>
        <locationX>751</locationX>
        <locationY>2055</locationY>
        <inputReference>SchPayToUpdateZero</inputReference>
    </recordUpdates>
    <screens>
        <name>AllocateDestinationScreen</name>
        <label>AllocateDestinationScreen</label>
        <locationX>457</locationX>
        <locationY>747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateAllocateCount</targetReference>
        </connector>
        <fields>
            <name>SelectedText</name>
            <fieldText>&lt;p&gt;Review your chosen Scheduled Payments to re-allocate and then choose the destination Scheduled Payment for funds to be distributed to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SchPayToReAllocateTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SchPayReAllocate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:255, OrderApi__Scheduled_Date__c:155, OrderApi__Amount__c:170</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>SOURCE: Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom17</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AllocateSelect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SchPayToAllocate2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:225, OrderApi__Scheduled_Date__c:155, OrderApi__Amount__c:170</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>SchPayToAllocate2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>DESTINATION: Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom90</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide information screen to user to inform them that the balance check failed and it is not safe to proceed.</description>
        <name>BalanceCheckFailScreen</name>
        <label>BalanceCheckFailScreen</label>
        <locationX>420</locationX>
        <locationY>1824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BalanceCheckFailText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;WARNING&lt;/b&gt;: The reallocation process resulted in non-balancing value adjustments to Scheduled Payment Lines.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The process has been stopped and no data has been changed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best to reach out to your administrator to get this fixed. Sorry for the inconvenience.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DebugText</name>
            <fieldText>&lt;p&gt;Create: {!SPLCreateTotal}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Delete: {!SPLDeleteTotal}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Balance: {!BalanceCheck}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide the user with a summary of changes to be made and allow them to review before submitting changes to the database</description>
        <name>ReallocateConfirmationScreen</name>
        <label>ReallocateConfirmationScreen</label>
        <locationX>747</locationX>
        <locationY>1655</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateSchPayLines</targetReference>
        </connector>
        <fields>
            <name>ReallocateConfirmationText2</name>
            <fieldText>&lt;p&gt;Here is a summary of Scheduled Payment Line records that will be &lt;b&gt;deleted&lt;/b&gt; and &lt;b&gt;updated. &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please click Next to confirm your adjustments and commit the changes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Start: {!SPLCreateTotal} =&amp;gt; Total Value of SPLs to update ({!NumSchPayLinesToCreateVar} records)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Minus: {!SPLDeleteTotal} =&amp;gt;Total Value of SPLs to delete ({!NumSPLToDelete} records)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;===========&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Equals: {!BalanceCheck} =&amp;gt; GOOD &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;===========&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Interface to allow the selection of one or more Scheduled Payments whose revenue should be reallocated</description>
        <name>SchPaySelectIdInputScreen</name>
        <label>SchPaySelectIdInputScreen</label>
        <locationX>517</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CountSelectedSchPays</targetReference>
        </connector>
        <fields>
            <name>SchPaySelectIdInputText</name>
            <fieldText>&lt;p&gt;This process will allow you to re-allocate the revenue on selected Scheduled Payments to other pending Scheduled Payments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Use when certain Scheduled Payments have failed or been missed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select one or more of the following outstanding Scheduled Payments you would like to re-allocate.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SchPaySelectIdInputTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c,OrderApi__Has_Errors__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:225, OrderApi__Scheduled_Date__c:155, OrderApi__Amount__c:170, OrderApi__Has_Errors__c:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>SOURCE: Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom17</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SchPayInputColl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectedAllErrorScreen</name>
        <label>SelectedAllErrorScreen</label>
        <locationX>621</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SchPaySelectIdInputScreen</targetReference>
        </connector>
        <fields>
            <name>SelectedAllErrorText</name>
            <fieldText>&lt;p&gt;ERROR: You selected all Scheduled Payments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;I can only reallocate Scheduled Payment amounts to one or more existing Scheduled Payments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please try again and leave at least one Scheduled Payment un-selected.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>108</locationX>
        <locationY>184</locationY>
        <connector>
            <targetReference>CountAllSchPays</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChoiceDescriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateNewCollectionSchPayLine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DateEditCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DateEditedSPs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <name>DDSchPayCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <name>DDSchPayCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EditedRowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumSchPayLinesToCreateVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The number of SPLs that will be deleted by this process</description>
        <name>NumSPLToDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PMSchPayUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <description>Sales Order Id for input</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1J4K000000QHdFUAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>RoundingCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SchPayAllocate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SchPayDeleteTracking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input collection of Scheduled Payments (from Master Flow)</description>
        <name>SchPayInputColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <name>SchPayLeave</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SchPayLineColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment_Line__c</objectType>
    </variables>
    <variables>
        <name>SchPayLineRemainder</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SchPayLineToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment_Line__c</objectType>
    </variables>
    <variables>
        <name>SchPayLineToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment_Line__c</objectType>
    </variables>
    <variables>
        <name>SchPayLineTracking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchPayReAllocate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <name>SchPayToAllocate2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <name>SchPayToUpdateZero</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <name>SelectedSchPays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Holds the total value of SPLs to be created. Used for balance check.</description>
        <name>SPLCreateTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Holds the total value of SPLs to be deleted. Used for balance check.</description>
        <name>SPLDeleteTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ThisLoopSplitCalcDiff</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ThisSchPayLineTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalAllocateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalInstalmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
