flows/Schedule_Payment_Adjust_Payment_Dates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign the Loop record variable to a collection (available outside the Loop)</description>
        <name>AssignDateEditedToColl</name>
        <label>AssignDateEditedToColl</label>
        <locationX>3460</locationX>
        <locationY>939</locationY>
        <assignmentItems>
            <assignToReference>DateEditedSPs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopDateEditedSP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDateEditedSP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count number of edited Scheduled Payments</description>
        <name>DateEditedCounter</name>
        <label>DateEditedCounter</label>
        <locationX>3094</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>DateEditCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DateAdjustInputTable.outputEditedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DateEditedRowsAvailable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the user updated any Scheduled Payments</description>
        <name>DateEditedRowsAvailable</name>
        <label>DateEditedRowsAvailable</label>
        <locationX>3223</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>DateAdjustInputScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Dates Edited</defaultConnectorLabel>
        <rules>
            <name>Yes_Dates_Edited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateEditCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopDateEditedSP</targetReference>
            </connector>
            <label>Yes - Dates Edited</label>
        </rules>
    </decisions>
    <decisions>
        <description>To aid user awareness of system date restrictions related to various payment methods. Determine if any edited rows meet &quot;restricted&quot; criteria</description>
        <name>DatePaymentTypeCheck</name>
        <label>DatePaymentTypeCheck</label>
        <locationX>3452</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>AssignDateEditedToColl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Restriction Detected</defaultConnectorLabel>
        <rules>
            <name>CC_Date_in_Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopDateEditedSP.DDApi__Is_Direct_Debit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopDateEditedSP.OrderApi__Scheduled_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCDateWarnScreen</targetReference>
            </connector>
            <label>CC Date in Past</label>
        </rules>
        <rules>
            <name>DD_within_5_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopDateEditedSP.DDApi__Is_Direct_Debit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopDateEditedSP.OrderApi__Scheduled_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FiveDayBuffer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DD5DayWarnScreen</targetReference>
            </connector>
            <label>DD within 5 Days</label>
        </rules>
        <rules>
            <name>DD_Within_10_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopDateEditedSP.DDApi__Is_Direct_Debit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopDateEditedSP.OrderApi__Scheduled_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TenDayBuffer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DD10DayWarnScreen</targetReference>
            </connector>
            <label>DD Within 10 Days</label>
        </rules>
    </decisions>
    <description>Subflow to provide interface to edit Payment Dates on one or more Scheduled Payment records
INPUTS: Requires a single Sales Order Id + collection of Scheduled Payments (from Master)
OUTPUTS:</description>
    <formulas>
        <name>FiveDayBuffer</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+5</expression>
    </formulas>
    <formulas>
        <name>TenDayBuffer</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+10</expression>
    </formulas>
    <interviewLabel>Schedule Payment Adjust - Payment Dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Payment Adjust - Payment Dates</label>
    <loops>
        <description>Loop any edited Schedule Payments</description>
        <name>LoopDateEditedSP</name>
        <label>LoopDateEditedSP</label>
        <locationX>3240</locationX>
        <locationY>786</locationY>
        <collectionReference>DateAdjustInputTable.outputEditedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DatePaymentTypeCheck</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmDateUpdateScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Commit changes to the database</description>
        <name>DateChangeSPsUpdate</name>
        <label>DateChangeSPsUpdate</label>
        <locationX>3234</locationX>
        <locationY>1082</locationY>
        <inputReference>DateEditedSPs</inputReference>
    </recordUpdates>
    <screens>
        <description>Provide feedback message to user if &quot;restricted&quot; date/payment method combination is found</description>
        <name>CCDateWarnScreen</name>
        <label>CCDateWarnScreen</label>
        <locationX>3797</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignDateEditedToColl</targetReference>
        </connector>
        <fields>
            <name>CCDateWarnText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;CC payments should be moved to a date greater than today.&lt;/p&gt;&lt;p&gt;Otherwise the system cannot process them and revenue will not be collected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CCNavText</name>
            <fieldText>&lt;p&gt;Click &lt;b&gt;Previous&lt;/b&gt; to adjust dates and try again OR c&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;lick &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to ignore this warning and continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide user with a visual of all records that are about to be updated. Providing opportunity to review changes before submission to the database</description>
        <name>ConfirmDateUpdateScreen</name>
        <label>ConfirmDateUpdateScreen</label>
        <locationX>3233</locationX>
        <locationY>930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DateChangeSPsUpdate</targetReference>
        </connector>
        <fields>
            <name>ConfirmDateUpdateText</name>
            <fieldText>&lt;p&gt;Here is a summary of the Scheduled Payments you adjusted and their new dates. Please click Next to confirm your adjustments and commit the changes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmDateUpdateTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c,OrderApi__Has_Errors__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:225, OrderApi__Scheduled_Date__c:155, OrderApi__Amount__c:170, OrderApi__Has_Errors__c:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Date Adjusted Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:date_input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Date__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>DateEditedSPs</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide interface for user to update the dates on one or more Scheduled Payments (inline using Datatable component)</description>
        <name>DateAdjustInputScreen</name>
        <label>DateAdjustInputScreen</label>
        <locationX>3234</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DateEditedCounter</targetReference>
        </connector>
        <fields>
            <name>DateAdjustInputTextInitial</name>
            <fieldText>&lt;p&gt;This process will allow you to easily adjust the dates of any pending Scheduled Payments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Simply make the date adjustments in the Scheduled Date column below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DateEditCount</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DateAdjustInputTextNone</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No date changes were detected. &lt;/b&gt;Once you have changed a date please ensure you click the Save button (found beneath the table) &lt;b&gt;before&lt;/b&gt; clicking the Next button.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DateEditCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DateAdjustInputTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c,OrderApi__Has_Errors__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:225, OrderApi__Scheduled_Date__c:155, OrderApi__Amount__c:170, OrderApi__Has_Errors__c:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Pending Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:date_input</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Date__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SchPayInputColl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DateAdjustInputTextWarning</name>
            <fieldText>&lt;p&gt;&lt;b&gt;WARNING&lt;/b&gt;: If any cells above are in &lt;b&gt;yellow&lt;/b&gt; then you must use the Save button to commit the changes before progressing to the next screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide feedback message to user if &quot;restricted&quot; date/payment method combination is found</description>
        <name>DD10DayWarnScreen</name>
        <label>DD10DayWarnScreen</label>
        <locationX>3694</locationX>
        <locationY>860</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignDateEditedToColl</targetReference>
        </connector>
        <fields>
            <name>DD10DayWarnText</name>
            <fieldText>&lt;p&gt;Warning:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;DD payments should be moved to a date of at least {!TenDayBuffer} to ensure system jobs can process them automatically.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As it stands this payment must be submitted &lt;b&gt;manually&lt;/b&gt; after completing this process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DD10NavText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Previous&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; to adjust dates and try again OR click &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; to ignore this warning and continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide feedback message to user if &quot;restricted&quot; date/payment method combination is found</description>
        <name>DD5DayWarnScreen</name>
        <label>DD5DayWarnScreen</label>
        <locationX>3610</locationX>
        <locationY>769</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignDateEditedToColl</targetReference>
        </connector>
        <fields>
            <name>DD5DayWarnText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Warning:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;DD payments should be moved to a date of at least {!TenDayBuffer} to ensure system jobs can process them automatically.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;NB:&lt;/b&gt; You can move them to at least {!FiveDayBuffer} but these payments &lt;b&gt;must&lt;/b&gt; be manually submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DD5NavText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Previous&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to adjust dates and try again OR click &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to ignore this warning and continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3107</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>DateAdjustInputScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DateEditCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DateEditedSPs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <description>Sales Order Id for input</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1J4K000000QHdFUAW</stringValue>
        </value>
    </variables>
    <variables>
        <description>Input collection of Scheduled Payments (from Master Flow)</description>
        <name>SchPayInputColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
</Flow>
