flows/Schedule_Payment_Adjust_Master.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign the Loop record variable to a collection (available outside the Loop)</description>
        <name>AddToDDColl</name>
        <label>AddToDDColl</label>
        <locationX>1088</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>DDSchPayCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindDDSchPay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindDDSchPay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewFunctionalChoice</name>
        <label>AssignNewFunctionalChoice</label>
        <locationX>1424</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>FunctionChoice.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clean Up Scheduled Payments</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clean_Up_SPLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign count of DD type Scheduled Payments to a counter variable</description>
        <name>CountDDSchPay</name>
        <label>CountDDSchPay</label>
        <locationX>1084</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>DDSchPayCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DDSchPayCol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GotDDSchPay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count the number of related Scheduled Payment records</description>
        <name>CountSchPayInput</name>
        <label>CountSchPayInput</label>
        <locationX>590</locationX>
        <locationY>31</locationY>
        <assignmentItems>
            <assignToReference>TotalInstalmentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetSchPayInput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GotSchPayInput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the DD specific Option choices (related to any Sales Order with 1 or more Scheduled Payment records of type DD)</description>
        <name>DDOptionChoices</name>
        <label>DDOptionChoices</label>
        <locationX>1345</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>ChoiceString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Retry DD Payments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Quickly attempt to resubmit one or more DD Scheduled Payments to GoCardless</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:macros</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OneOrMoreSPInput</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Extended Option choices (related to any Sales Order with more than 1 Scheduled Payment records)</description>
        <name>ExtendedOptionChoices</name>
        <label>ExtendedOptionChoices</label>
        <locationX>1395</locationX>
        <locationY>3</locationY>
        <assignmentItems>
            <assignToReference>ChoiceString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Re-allocate Payments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Spread missed or errored Scheduled Payments to one or more remaining Scheduled Payments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom90</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Clean Up Scheduled Payments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Re-allocation can result in duplicate Scheduled Payment Lines. Run this optimise those records</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:merge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FunctionChoiceScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Standard Option choices (related to any Sales Order with 1 or more Scheduled Payment records)</description>
        <name>StandardOptionChoices</name>
        <label>StandardOptionChoices</label>
        <locationX>845</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>ChoiceString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Adjust Payment Methods</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Adjust Payment Dates</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Quickly assign a different valid Payment Method to one or more pending Scheduled Payments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Easily adjust the dates on all pending Scheduled Payments</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:payment_gateway</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom25</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindDDSchPay</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DateChoice</name>
        <choiceText>Adjust Dates</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Adjust Dates</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayMethodChoice</name>
        <choiceText>Adjust Payment Methods</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay Method</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReallocateChoice</name>
        <choiceText>Re-allocate Payments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Re-allocate Payments</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Determine if any Scheduled Payments are of type DD</description>
        <name>GotDDSchPay</name>
        <label>GotDDSchPay</label>
        <locationX>1194</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>OneOrMoreSPInput</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoDD</defaultConnectorLabel>
        <rules>
            <name>YesDDFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DDSchPayCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DDOptionChoices</targetReference>
            </connector>
            <label>YesDDFound</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if there are any related Scheduled Payment records</description>
        <name>GotSchPayInput</name>
        <label>GotSchPayInput</label>
        <locationX>707</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>NoSPInputScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SPInput</defaultConnectorLabel>
        <rules>
            <name>Yes_SPInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalInstalmentCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StandardOptionChoices</targetReference>
            </connector>
            <label>Yes SPInput</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the current loop record is of type DD</description>
        <name>IsDDSchPay</name>
        <label>IsDDSchPay</label>
        <locationX>1075</locationX>
        <locationY>14</locationY>
        <defaultConnector>
            <targetReference>FindDDSchPay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NonDD</defaultConnectorLabel>
        <rules>
            <name>DD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindDDSchPay.DDApi__Is_Direct_Debit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToDDColl</targetReference>
            </connector>
            <label>DD</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if there are 1 or more than 1 related Scheduled Payments</description>
        <name>OneOrMoreSPInput</name>
        <label>OneOrMoreSPInput</label>
        <locationX>1188</locationX>
        <locationY>17</locationY>
        <defaultConnector>
            <targetReference>ExtendedOptionChoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SingleSPOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalInstalmentCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FunctionChoiceScreen</targetReference>
            </connector>
            <label>SingleSPOnly</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if user agreed to run the Clean Up Scheduled Payments action</description>
        <name>RunCleanUp</name>
        <label>RunCleanUp</label>
        <locationX>1517</locationX>
        <locationY>814</locationY>
        <defaultConnector>
            <targetReference>AssignNewFunctionalChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Clean_Up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunCleanUpToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinishScreen</targetReference>
            </connector>
            <label>No Clean Up</label>
        </rules>
    </decisions>
    <decisions>
        <description>Route functional choice to the correct SubFlow</description>
        <name>WhichChoice</name>
        <label>WhichChoice</label>
        <locationX>1286</locationX>
        <locationY>416</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Adjust_Payment_Methods</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FunctionChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adjust Payment Methods</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdjustPaymentMethods</targetReference>
            </connector>
            <label>Adjust Payment Methods</label>
        </rules>
        <rules>
            <name>Adjust_Payment_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FunctionChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adjust Payment Dates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdjustScheduledDates</targetReference>
            </connector>
            <label>Adjust Payment Dates</label>
        </rules>
        <rules>
            <name>Re_allocate_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FunctionChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-allocate Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reallocate_Payments</targetReference>
            </connector>
            <label>Re-allocate Payments</label>
        </rules>
        <rules>
            <name>Retry_DD_Payments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FunctionChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retry DD Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetryDDPayments</targetReference>
            </connector>
            <label>Retry DD Payments</label>
        </rules>
        <rules>
            <name>Clean_Up_Scheduled_Payment_Lines1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FunctionChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clean Up Scheduled Payments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Up_SPLs</targetReference>
            </connector>
            <label>Clean Up Scheduled Payment Lines</label>
        </rules>
    </decisions>
    <description>The controlling screen flow for the Scheduled Payment Adjust functionality.
INPUTS: Requires a single Sales Order Id
OUTPUTS: Passes Sales Order Id as variable to SubFlows</description>
    <interviewLabel>SchedulePaymentAdjust-Master {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Payment Adjust - Master</label>
    <loops>
        <description>Loop to extract all Scheduled Payments of type DD</description>
        <name>FindDDSchPay</name>
        <label>FindDDSchPay</label>
        <locationX>851</locationX>
        <locationY>192</locationY>
        <collectionReference>GetSchPayInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsDDSchPay</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OneOrMoreSPInput</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Using the recordId get all related Scheduled Payments</description>
        <name>GetSchPayInput</name>
        <label>GetSchPayInput</label>
        <locationX>483</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountSchPayInput</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Sales_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Succeeded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Scheduled_Payment__c</object>
        <sortField>OrderApi__Scheduled_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>FinishScreen</name>
        <label>FinishScreen</label>
        <locationX>1296</locationX>
        <locationY>879</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishScreenText</name>
            <fieldText>&lt;p&gt;Good News! {!FunctionChoice.value} ran successfully 👍&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReallocationNextActionText</name>
            <fieldText>&lt;p&gt;You chose not to run the &lt;b&gt;Clean Up Scheduled Payments&lt;/b&gt; action at this time.&lt;/p&gt;&lt;p&gt;Note that this function can be run at any time in the future.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FunctionChoice.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ReallocateChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide interface for choosing which adjustment function should be run</description>
        <name>FunctionChoiceScreen</name>
        <label>FunctionChoiceScreen</label>
        <locationX>1630</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WhichChoice</targetReference>
        </connector>
        <fields>
            <name>FunctionChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>ChoiceString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>ChoiceDescriptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>ChoiceIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoSPInputScreen</name>
        <label>NoSPInputScreen</label>
        <locationX>584</locationX>
        <locationY>183</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSPInputText</name>
            <fieldText>&lt;p&gt;There are no pending Scheduled Payments associated with this Sales Order. Therefore no actions can be taken at this time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide user option to run the Clean Up Scheduled Payments action as recommended best practice.</description>
        <name>ReallocateNextActionScreen</name>
        <label>ReallocateNextActionScreen</label>
        <locationX>1637</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RunCleanUp</targetReference>
        </connector>
        <fields>
            <name>FunctionCompleteText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Good News! {!FunctionChoice.value} ran successfully 👍&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReallocateCompleteNextActionText</name>
            <fieldText>&lt;p&gt;Note:&lt;/p&gt;&lt;p&gt;Re-allocation of Payments will likely have resulted in duplicate Scheduled Payment Line records being created. While this has no material effect on the Scheduled Payment it is recommended to optimise these Scheduled Payment Lines using the &lt;b&gt;Clean Up Scheduled Payments&lt;/b&gt; action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RunCleanUpToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Run Clean Up Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>165</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>GetSchPayInput</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Subflow to allocate a single valid Payment Method to one or more Scheduled Payments</description>
        <name>AdjustPaymentMethods</name>
        <label>AdjustPaymentMethods</label>
        <locationX>960</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <flowName>Schedule_Payment_Adjust_Payment_Methods</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchPayInputColl</name>
            <value>
                <elementReference>GetSchPayInput</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflow to adjust dates on one or more Scheduled Payments</description>
        <name>AdjustScheduledDates</name>
        <label>AdjustScheduledDates</label>
        <locationX>1296</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <flowName>Schedule_Payment_Adjust_Payment_Dates</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchPayInputColl</name>
            <value>
                <elementReference>GetSchPayInput</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Provide the user the ability to de-duplicate Scheduled Payment Lines (related to a single Scheduled Payment) based on the Sales Order Line reference field. Such duplicate SPLs result after running the Reallocate Payments functionality.</description>
        <name>Clean_Up_SPLs</name>
        <label>Clean Up SPLs</label>
        <locationX>1121</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <flowName>Schedule_Payment_Adjust_Clean_Up_SPLs</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchPayInputColl</name>
            <value>
                <elementReference>GetSchPayInput</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Provide an interface to reallocate revenue from one or more Scheduled Payments to one or more other Scheduled Payments</description>
        <name>Reallocate_Payments</name>
        <label>Reallocate Payments</label>
        <locationX>1478</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>ReallocateNextActionScreen</targetReference>
        </connector>
        <flowName>Schedule_Payment_Adjust_Reallocate_Payments</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchPayInputColl</name>
            <value>
                <elementReference>GetSchPayInput</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>An interface to allow user to manually retry a Scheduled Payment of type DD</description>
        <name>RetryDDPayments</name>
        <label>RetryDDPayments</label>
        <locationX>1598</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>FinishScreen</targetReference>
        </connector>
        <flowName>Schedule_Payment_Adjust_DD_Retry_Payment</flowName>
        <inputAssignments>
            <name>DDSchPayCol</name>
            <value>
                <elementReference>DDSchPayCol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ChoiceDescriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceString</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DDSchPayCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <name>DDSchPayCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Sales Order Id for input</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1J4K000000QHdFUAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>TotalInstalmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
