flows/Schedule_Payment_Adjust_DD_Retry_Payment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Add the current loop record to an Update collection</description>
        <name>AddToUpdateSPColl</name>
        <label>AddToUpdateSPColl</label>
        <locationX>676</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>RetryDDColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelectedRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Checks the DD Retry value for the current loop Scheduled Payment</description>
        <name>CheckDDRetry</name>
        <label>CheckDDRetry</label>
        <locationX>674</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>LoopSelectedRows.DDApi__Retry_Payment_in_GoCardless__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUpdateSPColl</targetReference>
        </connector>
    </assignments>
    <description>Subflow to provide interface to retry DD Payment submissions to GoCardless
INPUTS: Requires a single Sales Order Id + collection of Scheduled Payments (from Master)
OUTPUTS:</description>
    <interviewLabel>Schedule Payment Adjust - DD Retry Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Payment Adjust - DD Retry Payment</label>
    <loops>
        <description>Loop all selected rows for DD retry</description>
        <name>LoopSelectedRows</name>
        <label>LoopSelectedRows</label>
        <locationX>881</locationX>
        <locationY>322</locationY>
        <collectionReference>DDSchPayTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckDDRetry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DDRetryConfirmScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Commit the changes to the database</description>
        <name>UpdateRetrySPs</name>
        <label>UpdateRetrySPs</label>
        <locationX>703</locationX>
        <locationY>488</locationY>
        <inputReference>RetryDDColl</inputReference>
    </recordUpdates>
    <screens>
        <description>Provide the user an interface to confirm the Scheduled Payments that should be retried in GoCardless</description>
        <name>DDRetryConfirmScreen</name>
        <label>DDRetryConfirmScreen</label>
        <locationX>883</locationX>
        <locationY>481</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateRetrySPs</targetReference>
        </connector>
        <fields>
            <name>DDSchPayConfirmTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>DDApi__Retry_Payment_in_GoCardless__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c,DDApi__Retry_Payment_in_GoCardless__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:235, OrderApi__Scheduled_Date__c:235, OrderApi__Amount__c:150, DDApi__Retry_Payment_in_GoCardless__c:125</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom29</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>DDApi__Retry_Payment_in_GoCardless__c:Retry in GC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>RetryDDColl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide the user an interface to select Scheduled Payments that should be retried in GoCardless</description>
        <name>DDRetrySelectScreen</name>
        <label>DDRetrySelectScreen</label>
        <locationX>880</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopSelectedRows</targetReference>
        </connector>
        <fields>
            <name>DDSchPayTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>DDSchPayCol</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>DDApi__Retry_Payment_in_GoCardless__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c,DDApi__Retry_Payment_in_GoCardless__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:235, OrderApi__Scheduled_Date__c:235, OrderApi__Amount__c:150, DDApi__Retry_Payment_in_GoCardless__c:256</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom29</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>755</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>DDRetrySelectScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DDSchPayCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <description>Sales Order Id for input</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1J4K000000QHdFUAW</stringValue>
        </value>
    </variables>
    <variables>
        <description>The collection of Scheduled Payment records that should be updated</description>
        <name>RetryDDColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
</Flow>
