flows/Schedule_Payment_Adjust_Payment_Methods.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Update the Custom Scheduled Payment Type checkbox on this Loop record variable</description>
        <name>AssignCustomSPFalse</name>
        <label>AssignCustomSPFalse</label>
        <locationX>306</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>LoopPMContactSchPay.OrderApi__Custom_Scheduled_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPMtoCollContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Custom Scheduled Payment Type checkbox on this Loop record variable</description>
        <name>AssignCustomSPFalse_0</name>
        <label>AssignCustomSPFalse</label>
        <locationX>910</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>LoopPMAccountSchPay.OrderApi__Custom_Scheduled_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPMtoCollAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Custom Scheduled Payment Type checkbox on this Loop record variable</description>
        <name>AssignCustomSPTrue</name>
        <label>AssignCustomSPTrue</label>
        <locationX>461</locationX>
        <locationY>813</locationY>
        <assignmentItems>
            <assignToReference>LoopPMContactSchPay.OrderApi__Custom_Scheduled_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPMtoCollContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Custom Scheduled Payment Type checkbox on this Loop record variable</description>
        <name>AssignCustomSPTrue_0</name>
        <label>AssignCustomSPTrue</label>
        <locationX>1116</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>LoopPMAccountSchPay.OrderApi__Custom_Scheduled_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignPMtoCollAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Payment Method on this Loop record variable</description>
        <name>AssignNewPMAccount</name>
        <label>AssignNewPMAccount</label>
        <locationX>869</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>LoopPMAccountSchPay.OrderApi__Saved_Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidAccountPMs.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigningDDPM_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Payment Method on this Loop record variable</description>
        <name>AssignNewPMContact</name>
        <label>AssignNewPMContact</label>
        <locationX>217</locationX>
        <locationY>994</locationY>
        <assignmentItems>
            <assignToReference>LoopPMContactSchPay.OrderApi__Saved_Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ValidContactPMs.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigningDDPM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Loop record variable to a collection (available outside the Loop)</description>
        <name>AssignPMtoCollAccount</name>
        <label>AssignPMtoCollAccount</label>
        <locationX>793</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PMSchPayUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopPMAccountSchPay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPMAccountSchPay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Loop record variable to a collection (available outside the Loop)</description>
        <name>AssignPMtoCollContact</name>
        <label>AssignPMtoCollContact</label>
        <locationX>263</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>PMSchPayUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopPMContactSchPay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPMContactSchPay</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine if the newly assigned Payment Method is of type DD</description>
        <name>AssigningDDPM</name>
        <label>AssigningDDPM</label>
        <locationX>373</locationX>
        <locationY>927</locationY>
        <defaultConnector>
            <targetReference>AssignCustomSPFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CC</defaultConnectorLabel>
        <rules>
            <name>Is_DD_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidContactPMs.outputSelectedRow.DDApi__Is_Direct_Debit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCustomSPTrue</targetReference>
            </connector>
            <label>Is DD PM</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the newly assigned Payment Method is of type DD</description>
        <name>AssigningDDPM_0</name>
        <label>AssigningDDPM</label>
        <locationX>1036</locationX>
        <locationY>955</locationY>
        <defaultConnector>
            <targetReference>AssignCustomSPFalse_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CC</defaultConnectorLabel>
        <rules>
            <name>Is_DD_PM_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidAccountPMs.outputSelectedRow.DDApi__Is_Direct_Debit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCustomSPTrue_0</targetReference>
            </connector>
            <label>Is DD PM</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine the Entity type of the input Sales Order</description>
        <name>EntityCheck</name>
        <label>EntityCheck</label>
        <locationX>463</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>GetContactPMs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSalesOrder.OrderApi__Entity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountPMs</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <description>Subflow to provide interface to edit Payment Methods on Scheduled Payment records
INPUTS: Requires a single Sales Order Id
OUTPUTS:</description>
    <interviewLabel>Schedule Payment Adjust - Payment Methods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Payment Adjust - Payment Methods</label>
    <loops>
        <description>Loop selected Schedule Payments to be able to update the Payment Method</description>
        <name>LoopPMAccountSchPay</name>
        <label>LoopPMAccountSchPay</label>
        <locationX>641</locationX>
        <locationY>1133</locationY>
        <collectionReference>SchPaysAccountPM.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewPMAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmPMUpdateScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop selected Schedule Payments to be able to update the Payment Method</description>
        <name>LoopPMContactSchPay</name>
        <label>LoopPMContactSchPay</label>
        <locationX>57</locationX>
        <locationY>1127</locationY>
        <collectionReference>SchPaysContactPM.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewPMContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmPMUpdateScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Display valid Payment Methods for the related Account</description>
        <name>GetAccountPMs</name>
        <label>GetAccountPMs</label>
        <locationX>652</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountPMScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSalesOrder.OrderApi__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Payment_Method__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Display valid Payment Methods for the related Contact</description>
        <name>GetContactPMs</name>
        <label>GetContactPMs</label>
        <locationX>54</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactPMScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSalesOrder.OrderApi__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderApi__Is_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Payment_Method__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Sales Order to be able to determine the Entity type</description>
        <name>GetSalesOrder</name>
        <label>GetSalesOrder</label>
        <locationX>471</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EntityCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderApi__Sales_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePMSchPays</name>
        <label>UpdatePMSchPays</label>
        <locationX>473</locationX>
        <locationY>1365</locationY>
        <inputReference>PMSchPayUpdate</inputReference>
    </recordUpdates>
    <screens>
        <description>Provide UI for user to select a single valid Payment Method for the Account and 1 or more Scheduled Payments that the selected Payment Method should be assigned to</description>
        <name>AccountPMScreen</name>
        <label>AccountPMScreen</label>
        <locationX>655</locationX>
        <locationY>656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopPMAccountSchPay</targetReference>
        </connector>
        <fields>
            <name>PMText_0</name>
            <fieldText>&lt;p&gt;Associate a Payment Method with one or more Scheduled Payments:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Select a valid Payment Method for {!GetSalesOrder.OrderApi__Account__r.Name} from the first table&lt;/li&gt;&lt;li&gt;Select one or more Scheduled Payments from the second table and click Next&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;NB:&lt;/b&gt; To Add a new Payment Method for &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!GetSalesOrder.OrderApi__Account__r.Name} click on any Payment Method ID below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidAccountPMs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Payment_Method__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Payment_Method__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetContactPMs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Payment_Method_Type__c,OrderApi__First_Six_Digits__c,OrderApi__Last_Four_Digits__c,DDApi__Mandate_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:180, OrderApi__Payment_Method_Type__c:180, OrderApi__First_Six_Digits__c:120, a  OrderApi__Last_Four_Digits__c:120, DDApi__Mandate_Id__c:150</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Valid Payment Methods</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:reward</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SchPaysAccountPM</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c,OrderApi__Saved_Payment_Method__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>OrderApi__Saved_Payment_Method__c:Current Payment Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:192, OrderApi__Scheduled_Date__c:143, OrderApi__Amount__c:117, OrderApi__Saved_Payment_Method__c:206</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom29</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SchPayInputColl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide user with a visual of all records that are about to be updated. Providing opportunity to review changes before submission to the database</description>
        <name>ConfirmPMUpdateScreen</name>
        <label>ConfirmPMUpdateScreen</label>
        <locationX>471</locationX>
        <locationY>1229</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdatePMSchPays</targetReference>
        </connector>
        <fields>
            <name>PMsToBeUpdatedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Here is a summary of the Scheduled Payments you adjusted and their new Payment Methods. Please click Next to confirm your adjustments and commit the changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PMsToBeUpdatedTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c,OrderApi__Saved_Payment_Method__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>OrderApi__Saved_Payment_Method__c:Updated Payment Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:190, OrderApi__Scheduled_Date__c:145, OrderApi__Amount__c:115, OrderApi__Saved_Payment_Method__c:205</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom29</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>PMSchPayUpdate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide UI for user to select a single valid Payment Method for the Contact and 1 or more Scheduled Payments that the selected Payment Method should be assigned to</description>
        <name>ContactPMScreen</name>
        <label>ContactPMScreen</label>
        <locationX>50</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopPMContactSchPay</targetReference>
        </connector>
        <fields>
            <name>PMText</name>
            <fieldText>&lt;p&gt;Associate a Payment Method with one or more Scheduled Payments:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Select a valid Payment Method for {!GetSalesOrder.OrderApi__Contact__r.FirstName} &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!GetSalesOrder.OrderApi__Contact__r.LastName}&lt;/span&gt; from the first table&lt;/li&gt;&lt;li&gt;Select one or more Scheduled Payments from the second table and click Next&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;NB:&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; To Add a new Payment Method for {!GetSalesOrder.OrderApi__Contact__r.FirstName} {!GetSalesOrder.OrderApi__Contact__r.LastName} click on any Payment Method ID below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidContactPMs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Payment_Method__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Payment_Method__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetContactPMs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Payment_Method_Type__c,OrderApi__First_Six_Digits__c,OrderApi__Last_Four_Digits__c,DDApi__Mandate_Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:180, OrderApi__Payment_Method_Type__c:180, OrderApi__First_Six_Digits__c:120, OrderApi__Last_Four_Digits__c:120, DDApi__Mandate_Id__c:150</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Valid Payment Methods</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:reward</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SchPaysContactPM</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,OrderApi__Scheduled_Date__c,OrderApi__Amount__c,OrderApi__Saved_Payment_Method__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>OrderApi__Saved_Payment_Method__c:Current Payment Method</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:192, OrderApi__Scheduled_Date__c:143, OrderApi__Amount__c:117, OrderApi__Saved_Payment_Method__c:206</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Scheduled Payments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom29</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SchPayInputColl</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>346</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>GetSalesOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PMSchPayUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <description>Sales Order Id for input</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1J4K000000QHdFUAW</stringValue>
        </value>
    </variables>
    <variables>
        <description>Input collection of Scheduled Payments (from Master Flow)</description>
        <name>SchPayInputColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
</Flow>
