flows/Schedule_Payment_Adjust_Clean_Up_SPLs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Add the SPL back to the Update Collection</description>
        <name>AddSPLToUpdateColl</name>
        <label>AddSPLToUpdateColl</label>
        <locationX>1278</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>SPLsToUpdateColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FindMatchSPL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindMatchSPL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearInitValues</name>
        <label>ClearInitValues</label>
        <locationX>486</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>CurrentLoopSOL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPLUpdateDebugText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSchPay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count the number of Scheduled Payment Lines associated withe the current loop record</description>
        <name>CountSPLs</name>
        <label>CountSPLs</label>
        <locationX>603</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>InputSPLCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetSchPayLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPLMoreThanOne</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create counts of both the SPL Update and SPL Delete Collections</description>
        <name>CountsUpdate</name>
        <label>CountsUpdate</label>
        <locationX>717</locationX>
        <locationY>316</locationY>
        <assignmentItems>
            <assignToReference>SPLUpdateCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SPLsToUpdateColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SPLDeleteCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SPLsToDeleteColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClearInitValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Accumulate the value of all SPLs to be deleted</description>
        <name>DeleteTotalAccumulator</name>
        <label>DeleteTotalAccumulator</label>
        <locationX>166</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>DeleteSPLTotalValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSPLDelete.OrderApi__Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSPLDelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OriginalSPLTotalAccumulator</name>
        <label>OriginalSPLTotalAccumulator</label>
        <locationX>1078</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>OrigTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SchPayLine.OrderApi__Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPLsToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Remove the matching record from the SPL Update Collection</description>
        <name>RemSPL</name>
        <label>RemSPL</label>
        <locationX>1422</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>SPLsToUpdateColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>FindMatchSPL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPLUpdatePrices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add to collection of Scheduled Payment Lines to delete (available outside the loop)</description>
        <name>SPLsToDelete</name>
        <label>SPLsToDelete</label>
        <locationX>1184</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>SPLsToDeleteColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SchPayLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindMatchSPL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>As this is a new SOL reference add to the SPL Update Collection</description>
        <name>SPLsToUpdate</name>
        <label>SPLsToUpdate</label>
        <locationX>953</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>SPLsToUpdateColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SchPayLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCurrentLoopSOL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the value of the newly found SPL with the existing SPL from the Update Collection</description>
        <name>SPLUpdatePrices</name>
        <label>SPLUpdatePrices</label>
        <locationX>1423</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>FindMatchSPL.OrderApi__Sale_Price__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SchPayLine.OrderApi__Sale_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FindMatchSPL.OrderApi__Total__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SchPayLine.OrderApi__Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddSPLToUpdateColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the SOL reference ready for the next iteration around the loop</description>
        <name>UpdateCurrentLoopSOL</name>
        <label>UpdateCurrentLoopSOL</label>
        <locationX>866</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>CurrentLoopSOL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchPayLine.OrderApi__Sales_Order_Line__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchPayLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Accumulate the value of all SPLs to be updated</description>
        <name>UpdateTotalAccumulator</name>
        <label>UpdateTotalAccumulator</label>
        <locationX>165</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>UpdateSPLTotalValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSPLUpdate.OrderApi__Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSPLUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>A balance check is performed to stop this process from resulting in overall revenue being created or destroyed.</description>
        <name>PerformBalanceCheck</name>
        <label>PerformBalanceCheck</label>
        <locationX>522</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>BalanceCheckFailScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Balance - Abort</defaultConnectorLabel>
        <rules>
            <name>Balances_to_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BalanceCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPLCleanUpResultScreen</targetReference>
            </connector>
            <label>Balances to Zero</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the SOL ref on the current loop record is the same as for the last loop record</description>
        <name>SameCurrentLoopSOL</name>
        <label>SameCurrentLoopSOL</label>
        <locationX>983</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>OriginalSPLTotalAccumulator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope - New SOL Ref</defaultConnectorLabel>
        <rules>
            <name>Yes_Same_SOL_Ref</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentLoopSOL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SchPayLine.OrderApi__Sales_Order_Line__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SPLsToDelete</targetReference>
            </connector>
            <label>Yes - Same SOL Ref</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if we have found the match in the SPL Update Collection</description>
        <name>SOLMatch2</name>
        <label>SOLMatch2</label>
        <locationX>1338</locationX>
        <locationY>113</locationY>
        <defaultConnector>
            <targetReference>FindMatchSPL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No match</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindMatchSPL.OrderApi__Sales_Order_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SchPayLine.OrderApi__Sales_Order_Line__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindMatchSPL.OrderApi__Scheduled_Payment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SchPayLine.OrderApi__Scheduled_Payment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindMatchSPL.OrderApi__Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SchPayLine.OrderApi__Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RemSPL</targetReference>
            </connector>
            <label>Yes - Match</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the count of Scheduled Payment Lines is greater than 1</description>
        <name>SPLMoreThanOne</name>
        <label>SPLMoreThanOne</label>
        <locationX>707</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>CountsUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - 1 or Zero</defaultConnectorLabel>
        <rules>
            <name>Yes_More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputSPLCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SchPayLine</targetReference>
            </connector>
            <label>Yes - More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if there are any SPL records to update (and therefore to delete)</description>
        <name>WillCreateUpdates</name>
        <label>WillCreateUpdates</label>
        <locationX>343</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>NoSPLToUpdateScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SPLs to Update</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SPLDeleteCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSPLDelete</targetReference>
            </connector>
            <label>Yes - Update</label>
        </rules>
    </decisions>
    <description>An interface to provide the user the ability to de-duplicate Scheduled Payment Lines (related to a single Scheduled Payment) based on the Sales Order Line (SOL) reference. Such duplicate line can result from the use of the Reallocate Payments functionality.</description>
    <formulas>
        <description>Calculates that SPL delete and update result in a balance of zero (i.e. no revenue is created or destroyed by this process)</description>
        <name>BalanceCheck</name>
        <dataType>Currency</dataType>
        <expression>{!UpdateSPLTotalValue} - ({!DeleteSPLTotalValue}+{!OrigTotal})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Schedule Payment Adjust - Clean Up SPLs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Payment Adjust - Clean Up SPLs</label>
    <loops>
        <description>Loop through existing SPL collection records to find match</description>
        <name>FindMatchSPL</name>
        <label>FindMatchSPL</label>
        <locationX>1183</locationX>
        <locationY>234</locationY>
        <collectionReference>SPLsToUpdateColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SOLMatch2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCurrentLoopSOL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSchPay</name>
        <label>LoopSchPay</label>
        <locationX>404</locationX>
        <locationY>56</locationY>
        <collectionReference>SchPayInputColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetSchPayLine</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WillCreateUpdates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Use a loop to total the value of deleted SPLs</description>
        <name>LoopSPLDelete</name>
        <label>LoopSPLDelete</label>
        <locationX>354</locationX>
        <locationY>318</locationY>
        <collectionReference>SPLsToDeleteColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DeleteTotalAccumulator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopSPLUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Use a loop to total the value of updated SPLs</description>
        <name>LoopSPLUpdate</name>
        <label>LoopSPLUpdate</label>
        <locationX>349</locationX>
        <locationY>418</locationY>
        <collectionReference>SPLsToUpdateColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateTotalAccumulator</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PerformBalanceCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop the Scheduled Payment Lines to look for duplicate SOL references</description>
        <name>SchPayLine</name>
        <label>SchPayLine</label>
        <locationX>865</locationX>
        <locationY>62</locationY>
        <collectionReference>GetSchPayLine</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SameCurrentLoopSOL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CountsUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteSPL</name>
        <label>DeleteSPL</label>
        <locationX>530</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>UpdateSPL</targetReference>
        </connector>
        <inputReference>SPLsToDeleteColl</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Loop the Scheduled Payment Lines for the current loop record</description>
        <name>GetSchPayLine</name>
        <label>GetSchPayLine</label>
        <locationX>503</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountSPLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderApi__Scheduled_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopSchPay.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderApi__Scheduled_Payment_Line__c</object>
        <sortField>OrderApi__Sales_Order_Line__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSPL</name>
        <label>UpdateSPL</label>
        <locationX>528</locationX>
        <locationY>797</locationY>
        <inputReference>SPLsToUpdateColl</inputReference>
    </recordUpdates>
    <screens>
        <description>Provide information screen to user to inform them that the balance check failed and it is not safe to proceed.</description>
        <name>BalanceCheckFailScreen</name>
        <label>BalanceCheckFailScreen</label>
        <locationX>688</locationX>
        <locationY>558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BalanceCheckFailText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;WARNING&lt;/b&gt;: The clean up process resulted in non-balancing value adjustments to Scheduled Payment Lines.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The process has been stopped and no data has been changed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best to reach out to your administrator to get this fixed. Sorry for the inconvenience.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide information screen to user to inform them that the process resulted in no SPL records to clean up.</description>
        <name>NoSPLToUpdateScreen</name>
        <label>NoSPLToUpdateScreen</label>
        <locationX>212</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSPLToUpdateText</name>
            <fieldText>&lt;p&gt;The clean up process could find nothing to clean.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Congratulations on a lean set of Scheduled Payment data! 💪&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide user a visual screen of all SPLs to be deleted and updated. So they can confirm or abort before changes are submitted to the database.</description>
        <name>SPLCleanUpResultScreen</name>
        <label>SPLCleanUpResultScreen</label>
        <locationX>530</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DeleteSPL</targetReference>
        </connector>
        <fields>
            <name>SPLCleanUpResultText</name>
            <fieldText>&lt;p&gt;Here is a summary of Scheduled Payment Line records that will be &lt;b&gt;deleted&lt;/b&gt; and &lt;b&gt;updated. &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please click Next to confirm your adjustments and commit the changes.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Start: {!UpdateSPLTotalValue} =&amp;gt; Total Value of SPLs to update ({!SPLUpdateCount} records)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Minus: {!OrigTotal} =&amp;gt; &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Original value of SPLs to update ({!SPLUpdateCount} records)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Minus: {!DeleteSPLTotalValue} =&amp;gt;Total Value of SPLs to delete ({!SPLDeleteCount} records)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;===========&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Equals: {!BalanceCheck} =&amp;gt; GOOD 👍&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;===========&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SPLToDeleteTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SPLsToDeleteColl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c,Name,OrderApi__Sale_Price__c,OrderApi__Quantity__c,OrderApi__Total__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c:175, Name:200, OrderApi__Sale_Price__c:100, OrderApi__Quantity__c:100, OrderApi__Total__c:110</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Delete: Scheduled Payment Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:record_delete</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SPLToUpdateTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderApi__Scheduled_Payment_Line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SPLsToUpdateColl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c,Name,OrderApi__Sale_Price__c,OrderApi__Quantity__c,OrderApi__Total__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>OrderApi__Scheduled_Payment__c:170, Name:185, OrderApi__Sale_Price__c:105, OrderApi__Quantity__c:95, OrderApi__Total__c:100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Update: Scheduled Payment Lines</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:record_update</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>LoopSchPay</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentLoopSOL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DeDedupSPLCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DeDupeSchPayLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment_Line__c</objectType>
    </variables>
    <variables>
        <description>The total value of all SPLs to be deleted</description>
        <name>DeleteSPLTotalValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>InputSPLCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OrigTotal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input collection of Scheduled Payments (from Master Flow)</description>
        <name>SchPayInputColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment__c</objectType>
    </variables>
    <variables>
        <name>SOLAdd</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SPLDeleteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SPLsToDeleteColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment_Line__c</objectType>
    </variables>
    <variables>
        <name>SPLsToUpdateColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment_Line__c</objectType>
    </variables>
    <variables>
        <name>SPLTracking</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPLUpdateColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment_Line__c</objectType>
    </variables>
    <variables>
        <name>SPLUpdateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SPLUpdateDebugText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SPLUpdateSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderApi__Scheduled_Payment_Line__c</objectType>
    </variables>
    <variables>
        <description>The total value of all SPLs to be updated</description>
        <name>UpdateSPLTotalValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
